<div class="alerta my-3 p-2 bg-danger text-light rounded">
    <div class="row">
        <div class="col-12">
            <span><%= mensaje %>  <a href="/sesiones" class="text-info">Inicia Sesion Aqui</a></span>
        </div>
    </div>
</div>