<div class="card mb-3 rounded-0" id="<%= comentario.id %> ">
    <div class="card-header py-2 px-3  rounded-0">
      <div class="row">
        <div class="col-6 col-sm-9 ">
          <span class="badge rounded-pill bg-info text-white"><%= comentario.nombre %>  <!-- AQUI IRA el nombre de la persona--> </span>
        </div>
        <div class="col-6 col-sm-3">
          <div class="row">
            <div class="col-4 me-0 text-end">
              <% if (comentario.correcta == 1) { %>
                <span class="badge badge-primary">Correcta</span>
              <% } %>
            </div>
            <div class="col-4 ">
              <% if (sesion.usid == idPropietario) { %>
                <button type="button" class="btn btn-primary btn-floating">
                  <i class="fas fa-thumbs-up"></i>
                </button>
              <% } %>
            </div>
            <div class="col-4">
              <% if (sesion.rango == 2 || sesion.usid == comentario.id_propietario) { %>
                <button type="button" class="btn btn-danger btn-floating" onclick="borrarComentario(<%= comentario.id %>) " >
                  <i class="fas fa-trash-alt"></i>
                </button>
              <% } %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= comentario.comentario %> </p>
    </div>
  </div>