<nav class="navbar navbar-expand-lg navbar-primary bg-primary bg-opacity-75">
  <div class="container">
    <div class="p1">
      <span class="h2 text-light">Tec-Respuestas</span>
    </div>
    <div class="p2">
      <ul class="navbar-nav d-flex flex-row">
        <!-- Iconos -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="/inicio">
            <i class="fas fa-home  fa-lg"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="/recorrido">
            <i class="fas fa-street-view  fa-lg"></i>
          </a>
        </li>
        <% if (sesion.usid === undefined) { %>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-light" href="/sesiones">
              <i class="fas fa-sign-in-alt fa-lg"></i>
            </a>
          </li>
        <% } else { %>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-light" href="/sesiones/cerrar">
              <i class="fas fa-door-closed fa-lg"></i>
            </a>
          </li>
        <% } %>
        <% if (sesion.rango == 2) { %>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link text-light" href="/administrar">
              <i class="fas fa-user-shield fa-lg"></i>
            </a>
          </li>     
        <% } %>
        
        <!-- Iconos dropdown -->
      </ul>
    </div>
  </div>
</nav>