<nav class="navbar navbar-expand-lg navbar-warning bg-warning">
  <div class="container">
    <div class="p1">
      <span class="h2 text-light">Tec-Respuestas</span>
    </div>
    <div class="p2">
      <ul class="navbar-nav d-flex flex-row">
        <!-- Iconos -->
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="/inicio">
            <i class="fas fa-home  fa-lg"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="#">
            <i class="fas fa-wrench  fa-lg"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="#">
            <i class="fas fa-search  fa-lg"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link text-light" href="/recorrido">
            <i class="fas fa-street-view  fa-lg"></i>
          </a>
        </li>
        <!-- Iconos dropdown -->
      </ul>
    </div>
  </div>
</nav>