<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>

<body style="background-color: #f4f5f9;">
    <!-- <script src="dist/notiflix-aio-X.X.X.min.js"></script> -->
    <script src="/javascripts/notiflix-aio.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('../partials/navbar', {sesion}) %> 
    <div class="container px-sm-0" >
        <% if (sesion.usid !== undefined) { %>
            <div class="row">
                <div class="col-12">
                    <a href="/preguntar"><button type="button" class="btn btn-primary w-100 mt-2">Crear Pregunta</button></a>
                </div>
            </div>
        <% } else { %>
            <%- include('../partials/alertaInicioSesion', {mensaje: "Inicie Sesion Para Crear Una Pregunta."}) %> 
        <% } %>
        
        <% if (r.length > 0) { %>
            <% r.forEach(element => { %>
                <%- include('../partials/preguntaInicio', {id_creador: element.id_creador, id_publicacion: element.id_publicacion, nombre: element.nombre, fecha: element.fecha, titulo: element.titulo, comentarios: element.num_comentarios, sesion }) %> 
            <% }) %>
        <% } else { %>
            <h3>No hay preguntas... UnU</h3>
        <% } %>

    </div>
    <script src="/javascripts/inicio.js"></script>
</body>

</html>